@model NHOM9WEB.Models.TbAccount
@if (TempData["Message"] != null) {
    <div class="alert alert-warning">
        @TempData["Message"]
    </div>
}
<section class="login_part padding_top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2> Bạn mới đến Cửa hàng của chúng tôi?</h2>
                        <p>
                            Có những tiến bộ đang được thực hiện hàng ngày trong khoa học và công nghệ, và một ví dụ điển hình cho điều này là
                        </p>
                        <a href="/Register" class="btn_3"> TẠO MỘT TÀI KHOẢN </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>
                           Chào mừng trở lại ! <br>
                           Vui lòng đăng nhập ngay bây giờ
                        </h3>
                        <form asp-controller="Login" asp-action="Index" class="row contact_form" method="post" novalidate="novalidate">
                            <div asp-validation-summary="ModelOnly" class="text-danger col-md-8"></div>
                            <div class="col-md-8 form-group p_star">
                                <label class="control-label"></label>
                                <input asp-for="Username" class="form-control" placeholder="Username" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                            <div class="col-md-8 form-group p_star">
                                <label  class="control-label"></label>
                                <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <button type="submit" value="submit" class="btn_3" asp-action="Index">
                                Đăng nhập
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
