@model TbContact

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact-section padding_top">
    <div class="container">
        <div class="d-none d-sm-block mb-5 pb-4">

            <div class="contact-map">
                <iframe class="contact-map-size"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830869428!2d-74.119763973046!3d40.69766374874431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1613802584124!5m2!1sen!2sbd"
                        allowfullscreen=""
                        loading="lazy"
                        style="width: 100%; height: 400px; border: 2px solid #ccc; border-radius: 10px;"></iframe>
            </div>


        </div>


        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Get in Touch</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">

                                <textarea class="form-control w-100" name="message" id="c_message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">

                                <input class="form-control" name="name" id="c_name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control" name="email" id="c_email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Enter email address">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="phone" id="c_phone" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your phone'" placeholder="Enter your phone">
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button id="c_submit" type="button" value="submit" class="btn_3 button-contactForm" name="submit">Send Message</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Thành phố Vinh</h3>
                        <p>Trường Đại học Vinh</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>0367633333</h3>
                        <p>24/24</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>hoacon2603@gmail.com</h3>
                        <p>Gửi cho chúng tôi thắc mắc của bạn bất cứ lúc nào!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Thêm toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <!-- Thêm toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#c_submit").click(function () {
                _name = $("#c_name").val();
                _phone = $("#c_phone").val();
                _email = $("#c_email").val();
                _message = $("#c_message").val();
                $.ajax({
                    url: "/Contact/Create",
                    type: "POST",
                    data: { name: _name, phone: _phone, email: _email, message: _message },
                    success: function (result) {
                        if (result.status) {
                            $("#c_name").val("");
                            $("#c_phone").val("");
                            $("#c_email").val("");
                            $("#c_message").val("");
                            toastr.success('Gửi tin nhắn thành công');
                        }
                        else {
                            toastr.error('Gửi tin nhắn không thành công');
                        }
                    },
                    error: function () {
                        toastr.error('Đã xảy ra lỗi khi gửi tin nhắn');
                    }
                })
            });
        });
    </script>
}
