 @model IList<TbMenu>  
 @using NHOM9WEB.Utilities;
<div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
    <ul class="navbar-nav">
        @foreach (var menu in Model.Where(m => m.Levels == 1).OrderBy(n => n.MenuOrder)) {
            var Pid = menu.MenuId;
            string url = Functions.TitleSlugGeneration(""+menu.ControllerName, menu.MenuName, menu.MenuId);
            if (!string.IsNullOrEmpty(menu.Link)) {
                url = menu.Link;
            }
            var Smenu = Model.Where(p => p.ParentId == Pid).OrderBy(p => p.MenuOrder).ToList();
            @if (Smenu.Count == 0) {
                <li class="nav-item">
                    <a href="/@url" class="nav-link">@menu.MenuName</a>
                </li>
            }
            else {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @menu.MenuName
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_1">

                        @foreach (var smn in Smenu) {
                            string url1 = Functions.TitleSlugGeneration(""+menu.ControllerName, menu.MenuName, menu.MenuId);
                            if (!string.IsNullOrEmpty(smn.Link)) {
                                url1 = smn.Link;
                            }
                            <a class="dropdown-item" href="/@url1">@smn.MenuName</a>
                        }
                    </div>
                </li>
            }
        }

    </ul>
</div>

<!-- Header part end-->